.container{
  display: grid;
  grid-template-columns: repeat(3,70px);
  grid-template-rows: repeat(3,70px);
  color: blue;
  gap: 20px;
  
}
 .container > div{
   border: 1px solid black;
   padding: 35%;
   background-color: teal;
   text-align: center;
 }
