h1{
  color: white;
  margin: auto;
  padding: 40px 130px;
}
.container{
  width: 100%;
  height: 350px;
  background-color: #0f4a8a;

}
.container > div{
  width: 80%;
  height: 80%;

  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.container > div > div{
  width: 14%;
  height: 60%;

}
img{
  height: 64px;
  width: 64px;
}
img+div{
  color: white;
  line-height: 10px;
  font-weight: bold;
}
div>p{
  color: white;
  line-height: 8px;
}
